*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: teal;
}
.container{
    display: flex;
    width: 49%;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
}
#inputId,#outputId{
    padding: 8px;
    width: 96%;
    font-size: 20px;
    margin-left: 10px;
}
#textarea{
    margin-left: 10px;
}
h3{
   margin-left: 10px;
}
h2{
    text-align: center;
    color: white;
    margin-top: 50px;
}
button{
    padding: 10px;
    width: 100px;
    margin: 1px 20px;
    font-size:20px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
}

